<div class="ui-result-container">
  <div class="ui-container">
    <div class="ui-img-upload">
      <div class="ui-img-item" *ngIf="!isCanUpload">
        <div class="ui-img">
          <a class="ui-img-thumbnail" rel="noopener noreferrer" [target]="'_blank'">
            <img [src]="imgFile?.url">
          </a>
        </div>
        <span class="ui-img-actions">
        </span>
      </div>
      <div class="ui-select" *ngIf="isCanUpload">
        <div class="ui-upload" (click)="click();">
          <input #file type="file" style="display: none;" [accept]="accept" (change)="onFileSelect($event)">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          <div class="translate-upload-tip">
            <ul>
              <li>支持jpg/jpeg/png/bmp</li>
              <li>单次上传的单文件大小不超过3M</li>
              <li>单个上传图片建议长度尺寸在20-10000px，宽度尺寸在20-10000px</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-identify-result-container"></div>
</div>
